/* setting body */
body {
    margin: 0; /* make no margin so there's no space */
    background-position-y: top;
    background-position-x: center;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
    flex-wrap: wrap;
  } 

/* setting unorderlist */
ul {
  list-style-type: none; /* non aktifkan fitur/centang list */
  margin: 0;
  padding: 0;
  overflow: hidden; /* tulisan atau objek yang tumpah akan di hide */
  }

/* setting list */
li {
  float: right; /* rata kiri semua list */
  }

/* Style the header */
.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    padding: 20px;
  }
.header .logo-head {
  float: left;
  height: 50px;
  background-color: white;
  padding: 5px 5px;
  border-radius: 10px;
  transition: 1.5s ease-in-out;
  }
.header .logo-head:hover {
  background: hsla(213, 55%, 43%, 1);

  background: linear-gradient(90deg, hsla(213, 55%, 43%, 1) 0%, hsla(204, 69%, 60%, 1) 45%, hsla(202, 90%, 68%, 1) 100%);

  background: -moz-linear-gradient(90deg, hsla(213, 55%, 43%, 1) 0%, hsla(204, 69%, 60%, 1) 45%, hsla(202, 90%, 68%, 1) 100%);

  background: -webkit-linear-gradient(90deg, hsla(213, 55%, 43%, 1) 0%, hsla(204, 69%, 60%, 1) 45%, hsla(202, 90%, 68%, 1) 100%);
  }

/* responsive header */
@media (min-width: 1000px) {
  body .header .logo-head {
      height: 60px;
    }
  body .header {
      left: -30px;
    }
}

/* responsive header */
@media (max-width: 500px) {
  body {
      display: flex;
      align-items: stretch;
      background-size: auto;
      align-content: center;
      flex-direction: column;
    }
  body .header {
      display: flex;
      justify-content: center;
      position: relative;
    }
}

/* setting navbar utama */
.navbar {
    font-family: arial, sans-serif;
    display: flex;
    padding: 0px 20px;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
  }
.navbar .list-navbar {
    margin: 10px 20px;
  }
.navbar .navbar-title {
  padding: 10px 20px;
  font-size: medium;
  font-weight: bold;
  display: inline-block;
  border-right: 5px solid white;
  }
.navbar .navbar-title a {
    color: white;    
    text-decoration: none;
  }
.navbar-title:hover {
    background-color: black; /* setting hover navbar */
  }
.navbar-title:hover a {
    color: white; /* setting hover navbar */
  }
.navbar .list-navbar .drop-down-navbar {
    height: 40px;
    width: 225px;
    position: absolute;
    z-index: 2;
    transition: 1s ease-in-out;
    transition-delay: 0.3s;
  }
.list-navbar:hover .drop-down-navbar {
    position: absolute;
    height: 450px;
    background-color: #DEBA9D;
    transition-delay: 0.3s;
  }
.navbar .list-navbar .list-navbarA { /* setting bungkus tiap list anchor */     
  position: absolute;   /* setting posisi bungkus agar tampil di atas objek lain */
  text-align: left;
  z-index: 2;
  opacity: 0;
  transition: 1s ease-in-out;
  transition-delay: 0.2s; 
               /* setting bungkus agar tampil di atas objek lain */
  }
.navbar .list-navbar:hover .list-navbarA {
    opacity: 1;
    z-index: 2;
    transition-delay: 0.8s; 
  }
.navbar .list-navbar .list-navbarA a { /* ini akan memunculkan display kebawah sejajar, setting anchor */
  margin-top: 10px;
  color: black;
  display: block;
  padding: 10px 21px;
  text-decoration: none;/* untuk menghilangkan efek underline seperti link pada anchor */ 
  }
.navbar .list-navbar .list-navbarA a:hover { /* setting hover pada anchor dalam list-navbarA */
  background-color: black;
  color: white;
  }

/* setting navbar */
@media (max-width: 500px) {
  body .navbar {
      background-color: black;
      display: flex;
      justify-content: center;
      padding: 0px 55px;
    }
  body .navbar .list-navbar {
      width: 170px;
      height: 30px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  body .navbar .list-navbar:hover {
      background-color: white;
    }
  body .navbar .navbar-title {
      padding: 0px 10px;
      border-right: none;
    }
  body .navbar .navbar-title:hover {
      background-color: white;
    }
  body .navbar .navbar-title a {
      color: white;
    }
  body .navbar .list-navbar:hover .navbar-title a {
      color: black;
    }
  body .navbar .list-navbarA {
    min-width: 517px;
    }
}

/* ====================== */

 /*menu sign out*/
.navbar .list-navbar-signout {
    margin: 15px 30px;
  }
.navbar .navbar-title-out {
  background-color: black;
  color: white;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: medium;
  font-weight: bold;
  display: inline-block;
  transition: 0.3s;
  }
.navbar .navbar-title-out:hover {
    border-radius: 0px;
  }
.list-navbar-signout .list-navbar-out { /* setting bungkus tiap list anchor */
  font-family: arial, sans-serif;
  font-size: larger; 
  background-color: whitesmoke;  
  position: absolute;   /* setting posisi bungkus agar tampil di atas objek lain */
    height: 160px;
    width: 107px;
  display: none;
    align-items: center;
    align-content: center;
    flex-direction: column;  
  z-index: 2;
  transition: 0.2s ease-in-out;
  transition-delay: 0s; 
  }
.list-navbar-signout:hover .list-navbar-out {
    background-color: whitesmoke; 
    height: 170px;
    width: 107px;
    border-radius: 0px 0px 5px 5px;
    display: flex;
    z-index: 2;
    transition-delay: 1s; 
  }
.list-navbar-signout .list-navbar-out h3 {
    position: relative;
    font-size: medium;
  }
.list-navbar-signout .list-navbar-out a { /* ini akan memunculkan display kebawah sejajar, setting anchor */
    color: white;
    background-color: black;
    position: relative;
    border-radius: 30px;
    padding: 5px 10px;
    text-decoration: none;
    text-align: center;
    transition: 0.5s;
  }
.list-navbar-signout .list-navbar-out a:hover { /* setting hover pada anchor dalam list-navbarA */
    color: black;
    background-color: white;
  }
.list-navbar-out .profile-img {
    position: relative;
  }
.list-navbar-out .profile-img img {
    height: 70px;
    position: relative;
    top: 10px;
  }

/* setting navbar-signout */
@media (max-width: 500px) {
  body .navbar .list-navbar-signout {
      width: 70px;
      height: 30px;
      background-color: black;
      display: flex;
      flex-direction: column;
      padding: 0px 30px;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
  body .navbar .navbar-title-out {
      padding: 10px 0px;
    }
  body .list-navbar-signout .list-navbar-out {
      width: 320px;
      height: 60px;
      opacity: 0;
      margin-top: 0px;
    }
  body .list-navbar-signout:hover .list-navbar-out {
      display: flex;
      background-color: whitesmoke;
      box-shadow: 5px 5px 15px;
      top: 410px;
      width: 320px;
      height: 60px;
      opacity: 1;
      z-index: 2;
      transition-delay: 1s;
      flex-direction: row;
      flex-wrap: wrap;
      }
  body .list-navbar-signout:hover .list-navbar-out .profile-img {
    position: relative;
    }
  body .list-navbar-signout:hover .list-navbar-out .profile-img img {
      height: 50px;
      position: relative;
      top: 0px;
      left: 45px;
    }
  body .list-navbar-signout .list-navbar-out .profile-img img {
      height: 50px;
      position: relative;
      right: 65px;
      top: -29px;
    }
  body .list-navbar-signout:hover .list-navbar-out h3 {
      position: relative;
      top: -2px;
      right: -70px;
    }
  body .list-navbar-signout .list-navbar-out h3 {
      position: relative;
      top: -90px;
    }
  body .list-navbar-signout:hover .list-navbar-out a {
      color: white;
      background-color: black;
      position: relative;
      top: -3px;
      right: -85px;
      border-radius: 30px;
      font-size: small;
      padding: 10px 15px;
      text-decoration: none;
      text-align: center;
      transition: 0.5s;
    }
  body .list-navbar-signout .list-navbar-out a {
      position: relative;
      top: -155px;
      right: -60px;
    }
}

/* container utama */
.main-container {
    position: relative;
    display: flex;
    margin-top: 50px;
    /* display: block; */
    flex-direction: column;
    justify-content: center;
    align-content: stretch;
    flex-wrap: wrap;
  }

/* setting judul utama */
.container  {
    position: relative;
    width: 600px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 10px 10px;
  }
.container .cardcaptain {
    width: 480px;
    height: 420px;
    height: 225px;
    background: whitesmoke;
    margin: 20px;
    padding: 20px 20px;
    display: flex;
    border-radius: 4px;
    flex-direction: column;
    box-shadow: 5px 5px 15px;
    transition: 1s ease-in-out;
    flex-direction: column;
    align-items: center;
  }
.container .cardcaptain .content .title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  }
.container .cardcaptain .content .story {
  text-align: justify;
  font-size: 20px;
  }
.container .cardcaptain .content .logo-img {
    max-width: 55%;
    margin-left: 95px;
    margin-top: 10px;
  }
.container .cardcaptain:hover {
  height: 530px; 
  }
.container .cardcaptain:hover .content {
    visibility: visible;
    opacity: 1;
    margin-top: -8px;
    transition-delay: 0.3s;
  }
.container .cardcaptain .imgBxcaptain {
    position: relative;
    background: black;
    top: -40px;
    left: 0px;
    min-width: initial;
    width: 470px;
    height: 221px;
    border-radius: 50px;
    z-index: 1;
    box-shadow: 0 0px 10px;
    align-content: center;
  }
.container .cardcaptain .imgBxcaptain img{
  max-width: 100%;
  border-radius: 20px;
  }
.container .cardcaptain .content {
    position: relative;
    top: 10px;
    margin-top: 0px;
    padding: 10px 15px;
    color: black;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
    transition-delay: 0s;
    font-family: Arial, Helvetica, sans-serif;
  }

/* responsive container */
@media (max-width: 500px) {
  body .container {
      width: 300px;
      padding: 0px 10px 10px;
    }
  body .container .cardcaptain {
      width: 260px;
      height: 115px;
      margin: 0px;
    }
  body .container .cardcaptain .imgBxcaptain {
      width: 260px;
      height: 145px;
    }
  body .container .cardcaptain .content .logo-img {
      margin: auto;
    }
  body .container .cardcaptain .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      top: -70px;
    }
  body .container .cardcaptain:hover .content {
      display: flex;
      flex-direction: column;
      margin-top: 35px;
  }
}
